{% extends 'base.html' %}

{% block conteudo %}
<div class="container">
    <div class="grid-container">
        <div class="grid-item">
            <a href="/pikachu">
                <img src="../static/img/025.png" alt="Pikachu">
                <p>Pikachu</p>
            </a>
        </div>
        <div class="grid-item">
            <a href="/squirtle">
                <img src="../static/img/007.png" alt="Squirtle">
                <p>Squirtle</p>
            </a>
        </div>

        <div class="grid-item">
            <a href="/clefairy">
                <img src="../static/img/035.png" alt="Clefairy">
                <p>Clefable</p>
            </a>
        </div>

        <div class="grid-item">
            <a href="/wigglytuff">
                <img src="../static/img/039.png" alt="Jigglypuff">
                <p>Wigglytuff</p>
            </a>
        </div>

        <div class="grid-item">
            <a href="/charmander">
                <img src="../static/img/009.png" alt="Charmander">
                <p>Charmander</p>
            </a>
        </div>

        <div class="grid-item">
            <a href="/psyduck">
                <img src="../static/img/054.png" alt="Psyduck">
                <p>Psyduck</p>
            </a>
        </div>
    </div>
</div>
{% endblock %}