{% extends 'base.html' %}

{% block conteudo %}

<div class="pokemonbox">
    <div class="boxeps">
        <p>Temporadas</p>
        <div class="boxinfoeps">
            <ul>
                <li><a href="https://youtu.be/-PlAg8R9TG4?si=fOcwUHc2D75Dmwan" target="_blank">1ª Temporada - Pokémon: Liga Índigo</a></li>
                <li><a href="https://youtu.be/XeoynHW8py8?si=B8sWjrOceP53DXfT" target="_blank">2ª Temporada - Pokémon: Aventuras nas Ilhas Laranja</a></li>
                <li><a href="https://youtu.be/1w_lZUnrXO0?si=tygtJYZ3xmRgdB_S" target="_blank">3ª Temporada - Pokémon: A Jornada Johto</a></li>
                <li><a href="https://youtu.be/rRSG8n0LPnc?si=3M4-0fQIiu7soehR" target="_blank">4ª Temporada - Pokémon: Campeões da Liga Johto</a></li>
                <li><a href="https://youtu.be/7cjj6ZFv-S4?si=odiUMdR2fAb3Segm" target="_blank">5ª Temporada - Pokémon: Master Quest</a></li>
                <li><a href="https://youtu.be/YVruUKPmiRQ?si=oEDBpQp9aqVlHZLo" target="_blank">6ª Temporada - Pokémon: Avançado</a></li>
                <li><a href="https://youtu.be/2zdpSIK3bps?si=8xwQ_HTnXF1zqgPI" target="_blank">7ª Temporada - Pokémon: Desafio Avançado</a></li>
                <li><a href="https://youtu.be/x8WO81r7PS4?si=so_ZX_wkXLScijhQ" target="_blank">8ª Temporada - Pokémon: Batalha Avançada</a></li>
                <li><a href="https://youtu.be/FxaXK6fTXtw?si=Qt97BsMLvUgZudGg" target="_blank">9ª Temporada - Pokémon: Batalha da Fronteira</a></li>
                <li><a href="https://youtu.be/LA3L0wkKxjQ?si=URM5E56w-GmgHIXG" target="_blank">10ª Temporada - Pokémon: Diamante e Pérola</a></li>
                <li><a href="https://youtu.be/mmQ6T8XYn5g?si=SKUXaD4XcLNkdHeA" target="_blank">11ª Temporada - Pokémon: Batalha Dimensional</a></li>
                <li><a href="https://youtu.be/rqEdSIfNLjg?si=3LWAI0rwnzfV953S" target="_blank">12ª Temporada - Pokémon: Batalhas Galácticas</a></li>
                <li><a href="https://youtu.be/rLDMsDtKrWc?si=QowwRgtYn3KwRwV0" target="_blank">13ª Temporada - Pokémon DP: Vencedores da Liga Sinnoh</a></li>
                <li><a href="https://youtu.be/q5qL2fRG1Yk?si=JJ2tF2NcauIjHVMn" target="_blank">14ª Temporada - Pokémon: Preto e Branco</a></li>
                <li><a href="https://youtu.be/hh9NQLZBqVw?si=RkxcAC5AwXGwSWhD" target="_blank">15ª Temporada - Pokémon Preto e Branco: Destinos Rivais</a></li>
                <li><a href="https://youtu.be/kWHQMuPtxkg?si=2odTQff_jOKzuDt7" target="_blank">16ª Temporada - Pokémon Preto e Branco: Aventuras em Unova</a></li>
                <li><a href="https://youtu.be/55HPbcmU0Rw?si=7Vtnm_mU7e733rVf" target="_blank">17ª Temporada - Pokémon: A Série XY</a></li>
                <li><a href="https://youtu.be/wmZL_I_e9Ck?si=pBiVBxpZeRqT9bpA" target="_blank">18ª Temporada - Pokémon XY: Desafio em Kalos</a></li>
                <li><a href="https://youtu.be/5V1LZWKtxxs?si=W7O-3k8-0cmFVrg7" target="_blank">19ª Temporada - Pokémon: A Série XYZ</a></li>
                <li><a href="https://youtu.be/fSLBJRuOeVE?si=Aw-kFjS1c8D-G32p" target="_blank">20ª Temporada - Pokémon: Sol e Lua</a></li>
                <li><a href="https://youtu.be/wY8Qat_rijU?si=P6o6WzSzx_UbwMee" target="_blank">21ª Temporada - Pokémon: Ultra-Aventuras</a></li>
                <li><a href="https://youtu.be/Ttvl9j8R5Tk?si=mG4jKjAfbNsWtvfm" target="_blank">22ª Temporada - Pokémon: Ultralendas</a></li>
                <li><a href="https://youtu.be/sJeZKNdMbjA?si=ayVu5ZwQr_k8AORp" target="_blank">23ª Temporada - Jornadas Pokémon</a></li>
                <li><a href="https://youtu.be/kQs3JlOhznE?si=RgZTcHlKxJ1LQ_Gg" target="_blank">24ª Temporada - Jornadas de Mestre Pokémon</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}